.home {
    padding: 2% 1%;
    background-color: #e2edff;
}
.about {
    padding: 2% 1%;
}
.project {
    padding: 2% 1%;
    background-color: #e2edff;
}
.cards {
    display: flex;
    justify-content: center;
    padding: 2% 1%;
    gap: 2rem;
    flex-wrap: wrap;
}
footer {
    background-color: #e2edff;
    padding: 2% 1%;
}
